html { overflow-x: hidden; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 1.8em;
    overflow-x: hidden;
}

p, span, em, a, address { color: #848586; }
h2, p {
    margin-top: 0;
}

a:hover, a.active { color: #309AFD; }

.tm-btn {
    padding: 10px 40px;
    color: white;
    background-color: #3299CD;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

button.tm-btn {
    padding: 15px 40px;
}

.tm-btn:hover {
    color: white;
    background-color: #49b4e9;
}

h1 { font-size: 3rem; }
em { display: block; }
div { box-sizing: border-box;}
.tm-mt-35 { margin-top: 35px; }
.tm-mb-0 { margin-bottom: 0; }
.tm-mb-15 { margin-bottom: 15px; }
.tm-mb-30 { margin-bottom: 30px; }
.tm-mb-40 { margin-bottom: 40px; }
.tm-mb-50 { margin-bottom: 50px; }
.tm-mb-80 { margin-bottom: 80px; }
.tm-text-center { text-align: center; }
.tm-text-right { text-align: right; }
.tm-color-primary { color: #309AFD; }
.tm-color-light-blue { color: #86abbe; }
.tm-color-gray { color: #5d6369; }
.tm-color-gray-2 { color: #98999A; }
.tm-color-light-gray { color: #9E9FA0; }
.tm-bg-white { background-color: #FFF; }
.tm-bg-gray { background-color: #F1F2F3; }
blockquote { margin: 0 0 30px 10px; }
img { max-width: 100%; }
.tm-page-title { font-size: 30px; }

body, ul {
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none; 
    transition: all 0.3s ease;
}

.tm-mt-0 { margin-top: 0; }

.tm-site-header {
    padding: 60px 70px 30px;
}

.tm-tagline {
    font-size: 1.5rem;   
    margin-left: 130px;
}

#tm-video-container {
    max-width: 100%; /* Ensures the video container adjusts to the screen width */
    background-color: #333;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden; /* Hide any overflow content */
    /* cut movie bottom straight line */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);
}

#tm-video {
    width: 100%;
    height: auto;
}

#tm-video-control-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: #e1e1e1;
}

.tm-nav-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #D2D3D4;
    color: #999; 
    box-sizing: border-box;
}

.tm-nav-link {
    display: flex;
    align-items: center;    
    justify-content: center ;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid #D2D3D4;
    color: #999; 
    box-sizing: border-box;
}

.tm-nav-link:hover,
.tm-nav-link.active {
    color: #309AFD;
}

.tm-nav-link i {
    margin-top: 30px;
    color: #309AFD;
}

.tm-main-nav ul {
    display: flex;
    justify-content: space-around; /* Distribute items with space around */
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
}

.tm-main-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tm-container {
    max-width: 1254px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 135px;
}

.tm-footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 0.9em;
}

.tm-col-6 {
    flex: 0 0 50%;
}

.tm-intro-pad {
    padding: 40px 55px 50px; 
}

.tm-intro-col-l {
    margin-right: 40px;
}
